body,
html {
  min-width: 1210px;
  margin: 0;
  padding: 0;
  font-family: PingFangSC-Regular, Microsoft YaHei, Arial, sans-serif;
  /* line-height: 1.15; */
}

/* S 顶部导航栏 */
.ai-top-nav {
  min-width: 1240px;
  height: 60px;
  width: 100%;
  background-color: #000;
}

/* E 顶部导航栏 */

/* S 搜索框 */
.ai-search-box {
  /* background-color: seagreen; */
  height: 118px;
}

.ai-content-region {
  width: 1200px;
  height: 118px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  padding: 0;
}

.ai-search-img img {
  width: 218px;
  height: 35px;
  margin: 40px 14px 0px 14px;
}

.ai-content-region.ai-search-wrap {
  width: 662px;
  height: 118px;
  /* padding: 25px 0 0; */
  font-size: 0px;
  padding-top: 25px;
}

/* .ai-search {
  width: 662px;
  height: 40px;
} */

.ai-search input {
  width: 453px;
  height: 36px;
  border: 1px solid #ccc;
  vertical-align: top;
}

.ai-search button {
  width: 88px;
  height: 40px;
  margin-left: -10px;
}

.ai-search-recommend {
  width: 662px;
  height: 22px;
  margin-top: 10px;
}

.ai-search-recommend span {
  font-size: 14px;
  color: #999;
  margin-right: 16px;
}

/* E 搜索框 */

/* S 内容区域 */
.provider-detail-page {
  background-color: #f7f7f7;
  width: 100%;
  height: 1036px;
  position: absolute;
}

.provider-detail-container {
  width: 1200px;
  margin: 30px auto 0;
  height: 180px;
  background-color: #fff;
  padding: 40px 28px;
  /* font-size: 0; */
  display: flex;
}
.provider-logo img {
  width: 240px;
  height: 180px;
}

.provider-desc-container {
  width: 704px;
  height: 180px;
  display: inline-block;
  vertical-align: top;
  padding-right: 33px;
  border-right: 1px solid #eee;
  margin-left: 20px;
}

.provider-name {
  margin: 15px 0 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.provider-detail-info span {
  font-size: 14px;
  color: #999;
  line-height: 14px;
}

.provider-desc {
  height: 72px;
  margin-top: 20px;
  font-size: 14px;
  color: #999;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.ai-search-wrap {
  display: inline-block;
  vertical-align: top;
  width: 149px;
  margin-left: 30px;
  margin-top: 26px;
}

.provider-consult {
  margin: 26px 0 0 30px;
}

.provider-consult-title {
  display: inline-block;
  font-size: 16px;
  color: #000;
  line-height: 14px;
  margin-bottom: 19px;
}

.provider-service-time {
  font-size: 14px;
  color: #666;
  line-height: 14px;
  margin-bottom: 22px;
}

.provider-consult-btn {
  height: 90px;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  min-width: 74px;
  padding: 0px 17px;
  background: #036fe2;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

/* S 在售服务 */
.provider-content-container {
  padding: 30px 30px 0;
  width: 1200px;
  margin: 20px auto 30px;
  background: #fff;
  height: 666px;
}

.product-list-container {
  height: 398px;
}

.module-title-wrapper {
  height: 40px;
  border-bottom: 1px solid #f2f2f2;
}
.module-title-wrapper span {
  font-size: 20px;
  color: #000;
  line-height: 20px;
  font-weight: 700;
  height: 24px;
  padding-bottom: 13px;
  border-bottom: 3px solid #000;
}
.product-list {
  height: 383px;
  display: flex;
}
.card {
  width: 232px;
  height: 328px;
}
.card-img img {
  width: 212px;
  height: 168px;
}

.card-detail {
  width: 212px;
  height: 135px;
}

.card-title {
  color: #000;
  margin-top: 20px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-desc {
  font-size: 14px;
  color: #666;
  margin-top: 9px;
  height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 21px;
}

.product-price {
  margin-top: 20px;
}
.product-price .product-price-num {
  color: rgb(240, 59, 53);
  font-size: 22px;
  font-weight: 600;
  display: inline-block;
}

.product-price .product-price-unit {
  color: rgb(240, 59, 53);
  font-size: 14px;
  margin-left: 2px;
  display: inline-block;
}
/* S 成功案例 */
.success-case-container {
  height: 268px;
}
.module-title-wrapper {
  height: 40px;
  border-bottom: 1px solid rgb(242, 242, 242);
}
.module-title-wrapper.module-title {
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 20px;
  font-weight: 700;
  height: 24px;
  padding-bottom: 13px;
  border-bottom: 3px solid rgb(0, 0, 0);
}

.case-list {
  height: 172px;
  padding-top: 20px;
  display: flex;
}

.case-item-img img {
  left: 0px;
  top: 0px;
  width: 295px;
  height: 168px;
  background-size: contain;
  background-position: 50% center;
}

.case-item-desc-container {
  padding: 20px 0 0 20px;
}

.case-item-title span {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  margin-top: 18px;
  color: rgb(0, 0, 0);
  overflow: hidden;
}
.case-item-desc {
  height: 84px;
  font-size: 14px;
  color: rgb(102, 102, 102);
  margin-top: 18px;
  line-height: 21px;
  text-overflow: ellipsis;
} /* E 成功案例 */ /*  */ /* E 在售服务 */

.case-item-desc-container .case-item-link {
  position: absolute;
  right: 180px;
  bottom: 70px;
  font-size: 14px;
  color: rgb(3, 111, 226);
}
/* E 内容区域 */
